In [1]:
#importing libraries/modules 
import sqlite3 as sql
import csv
import pandas as pd 
import numpy as np

In [2]:
tips = pd.read_csv("C:\\Users\\TOYIN OLAPE\\Documents\\Stutern\\Data Sets\\tips.csv")
tips.dtypes
tips.head()

   total_bill   tip     sex smoker  day    time  size  fraction
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808

In [3]:
#Creating a Database 
con = sql.connect("tips.db")
cur = con.cursor()

In [4]:
#Creating a Table 
tab = """CREATE TABLE tip (total_bill REAL, tip REAL, sex TEXT, smoker TEXT, day TEXT, time TEXT, size INTEGER, fraction REAL)"""

In [5]:
cur.execute(tab)

In [6]:
file = open("C:\\Users\\TOYIN OLAPE\\Documents\\Stutern\\Data Sets\\tips.csv")
rows = csv.reader(file)
cur.executemany("INSERT INTO tip VALUES (?, ?, ?, ?, ?, ?, ?, ?)", rows)

In [7]:
cur.execute("SELECT * FROM tip")

#print(cur.fetchall())
#Print first 4 rows instead of the above 
print(cur.fetchmany(4))

[('total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size', 'fraction'), (16.99, 1.01, 'Female', 'No', 'Sun', 'Dinner', 2, 0.05944673337257211), (10.34, 1.66, 'Male', 'No', 'Sun', 'Dinner', 3, 0.16054158607350097), (21.01, 3.5, 'Male', 'No', 'Sun', 'Dinner', 3, 0.16658733936220846)]

In [8]:
#Prinitng the content of the Database using iteration
bills = cur.fetchmany(5)
for bill in bills:
    print(bill)

(23.68, 3.31, 'Male', 'No', 'Sun', 'Dinner', 2, 0.1397804054054054)
(24.59, 3.61, 'Female', 'No', 'Sun', 'Dinner', 4, 0.14680764538430255)
(25.29, 4.71, 'Male', 'No', 'Sun', 'Dinner', 4, 0.18623962040332148)
(8.77, 2.0, 'Male', 'No', 'Sun', 'Dinner', 2, 0.22805017103762829)
(26.88, 3.12, 'Male', 'No', 'Sun', 'Dinner', 4, 0.11607142857142858)

In [9]:
#Accessing the values by the column names 
for bill in bills:
    total_bill, tip, sex, smoker, day, time, size, fraction = bill
    print(total_bill, tip, sex, smoker)

23.68 3.31 Male No
24.59 3.61 Female No
25.29 4.71 Male No
8.77 2.0 Male No
26.88 3.12 Male No

In [10]:
"""
Accessing the values by the column names 
Also note that this method works like index back wards 
"""

for bill in bills:
    total_bill, _, _, smoker, _, _, _, _ = bill
    print(total_bill, smoker)

23.68 No
24.59 No
25.29 No
8.77 No
26.88 No

In [11]:
#Starts from the last column 

for bill in bills:
    _, _, _, smoker, _, _, _, _ = bill
    print(_)

0.1397804054054054
0.14680764538430255
0.18623962040332148
0.22805017103762829
0.11607142857142858

In [12]:
for bill in bills:
    total_bill, tip, sex, smoker, day, time, size, fraction = bill
    print(f"{total_bill}\t\t {tip}\t\t {sex}\t\t{smoker}")

23.68		 3.31		 Male		No
24.59		 3.61		 Female		No
25.29		 4.71		 Male		No
8.77		 2.0		 Male		No
26.88		 3.12		 Male		No

In [13]:
con.commit()
con.close()