<a href="https://colab.research.google.com/github/toyinolape/DataCamp_DataScience/blob/master/Kaggle_tabular.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this competition you are predicting the values of air pollution measurements over time, based on basic weather information (temperature and humidity) and the input values of 5 sensors.

The three target values to you to predict are: target_carbon_monoxide, target_benzene, and target_nitrogen_oxides

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.metrics import mean_squared_log_error
from sklearn.model_selection import StratifiedKFold, StratifiedShuffleSplit
import time
import random

In [9]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving sample_submission.csv to sample_submission.csv
Saving test.csv to test.csv
Saving train.csv to train.csv
User uploaded file "sample_submission.csv" with length 78716 bytes
User uploaded file "test.csv" with length 154260 bytes
User uploaded file "train.csv" with length 593980 bytes

In [16]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")
df_train.head()

             date_time  deg_C  ...  target_benzene  target_nitrogen_oxides
0  2010-03-10 18:00:00   13.1  ...            12.0                   167.7
1  2010-03-10 19:00:00   13.2  ...             9.9                    98.9
2  2010-03-10 20:00:00   12.6  ...             9.2                   127.1
3  2010-03-10 21:00:00   11.0  ...             9.7                   177.2
4  2010-03-10 22:00:00   11.9  ...             6.4                   121.8

[5 rows x 12 columns]

In [17]:
df_train["date_time"] = pd.to_datetime(df_train['date_time'], format= "%Y-%m-%d %H:%M:%S")
df_test["date_time"] = pd.to_datetime(df_test['date_time'], format= "%Y-%m-%d %H:%M:%S")

In [15]:
import warnings
warnings.filterwarnings("ignore")

In [19]:
def make_new_features(df):
    df["month"] = df["date_time"].dt.month
    df["day_of_week"] = df["date_time"].dt.dayofweek
    df["day_of_year"] = df["date_time"].dt.dayofyear
    df["hour"] = df["date_time"].dt.hour
    df["quarter"] = df["date_time"].dt.quarter
    df["week_of_year"] = df["date_time"].dt.isocalendar().week.astype("int")
    df["working_hours"] =  df["hour"].isin(np.arange(8, 21, 1)).astype("int")
    df["is_weekend"] = (df["date_time"].dt.dayofweek >= 5).astype("int")
    return df

df_new_train = make_new_features(df_train)
df_new_test = make_new_features(df_test)

In [20]:
df_new_train.head()

            date_time  deg_C  ...  working_hours  is_weekend
0 2010-03-10 18:00:00   13.1  ...              1           0
1 2010-03-10 19:00:00   13.2  ...              1           0
2 2010-03-10 20:00:00   12.6  ...              1           0
3 2010-03-10 21:00:00   11.0  ...              0           0
4 2010-03-10 22:00:00   11.9  ...              0           0

[5 rows x 20 columns]