## Data Ingestion and Inspecting

In [1]:
"""Importing required libraries """

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
%matplotlib inline

In [2]:
pop = pd.read_csv("C:\\Users\\TOYIN OLAPE\\Documents\\Stutern\\Data Sets\\world_pop.csv")
pop.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

In [3]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 5 columns):
CountryName                      13374 non-null object
CountryCode                      13374 non-null object
Year                             13374 non-null int64
Total Population                 13374 non-null float64
Urban population (% of total)    13374 non-null float64
dtypes: float64(2), int64(1), object(2)
memory usage: 522.5+ KB

In [4]:
pop.head()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
0,Arab World,ARB,1960,9.249590e+07,31.285384
1,Caribbean small states,CSS,1960,4.190810e+06,31.597490
2,Central Europe and the Baltics,CEB,1960,9.140158e+07,44.507921
3,East Asia & Pacific (all income levels),EAS,1960,1.042475e+09,22.471132
4,East Asia & Pacific (developing only),EAP,1960,8.964930e+08,16.917679

In [5]:
pop.tail()

,CountryName,CountryCode,Year,Total Population,Urban population (% of total)
13369,Virgin Islands (U.S.),VIR,2014,104170.0,95.203
13370,West Bank and Gaza,WBG,2014,4294682.0,75.026
13371,"Yemen, Rep.",YEM,2014,26183676.0,34.027
13372,Zambia,ZMB,2014,15721343.0,40.472
13373,Zimbabwe,ZWE,2014,15245855.0,32.501

## Numpy and Pandas working together

In [6]:
#assign the numerical values(numpy array) in the dataframe pop
np_vals = pop[['Total Population', 'Urban population (% of total)']].values
np_vals

array([[9.24959020e+07, 3.12853842e+01],
       [4.19081000e+06, 3.15974899e+01],
       [9.14015830e+07, 4.45079211e+01],
       ...,
       [2.61836760e+07, 3.40270000e+01],
       [1.57213430e+07, 4.04720000e+01],
       [1.52458550e+07, 3.25010000e+01]])

In [7]:
#Create new array of base 10 logaritm values: np_vals_log10
np_vals_log10 = np.log10(np_vals)
np_vals_log10

array([[7.96612249, 1.49534149],
       [6.62229797, 1.49965258],
       [7.96095372, 1.64843731],
       ...,
       [7.41803062, 1.53182366],
       [7.19648964, 1.60715467],
       [7.18315178, 1.51189672]])

In [8]:
## Create array of new DataFrame by passing np_vals_log10 to np.log10(): df_log10
pop_log10 = np.log10(np_vals_log10)
[print(x, 'has type', type(eval(x))) for x in ['np_vals', 'np_vals_log10', 'pop', 'pop_log10']]

np_vals has type <class 'numpy.ndarray'>
np_vals_log10 has type <class 'numpy.ndarray'>
pop has type <class 'pandas.core.frame.DataFrame'>
pop_log10 has type <class 'numpy.ndarray'>

[None, None, None, None]

## Building Data Frames from Scratch

In [9]:
country =["USA","Russia","Germany","UK","France","Italy","China"]
total = [2828,1910,1754,883,840,701,608]
list_keys = ["Country","Total"]
list_val =[country,total]#refers to the values above. This would fillin the data 
list_names =["Nation","Total Medal"]

In [10]:
zipped = list(zip(list_names, list_val))
print(zipped)

[('Nation', ['USA', 'Russia', 'Germany', 'UK', 'France', 'Italy', 'China']), ('Total Medal', [2828, 1910, 1754, 883, 840, 701, 608])]

In [11]:
#Calling dict()on  zipped gives the dataframe
data = dict(zipped)
users = pd.DataFrame(data)
print(users)

    Nation  Total Medal
0      USA         2828
1   Russia         1910
2  Germany         1754
3       UK          883
4   France          840
5    Italy          701
6    China          608

## Labeling your data

In [12]:
pop.columns

Index(['CountryName', 'CountryCode', 'Year', 'Total Population',
       'Urban population (% of total)'],
      dtype='object')

In [13]:
list_labels = ["Nation","Nation_Code","Year","Population","Urban_Population"]
pop.columns = list_labels
pop.columns

Index(['Nation', 'Nation_Code', 'Year', 'Population', 'Urban_Population'], dtype='object')

## Building Data Frames with Broadcasting

In [14]:
penn = pd.read_csv("penn.csv")
penn.head()

FileNotFoundError: [Errno 2] File b'penn.csv' does not exist: b'penn.csv'

In [ ]:
#Extract county column into new file city
cities = penn["county"]
cities.head()

In [ ]:
#Create string "PA" and assign to state 
state = "PA"

#Create a dictionary assign it to data
data ={"state": state,"city":cities}

#Create a DataFrame from the dictionary 
df = pd.DataFrame(data)
df.head()

## Importing and Exporting Data

In [ ]:
df1= pd.read_csv("C:\\Users\\TOYIN OLAPE\\Documents\\Stutern\\Data Sets\\world_pop.csv")
df1.head()

In [ ]:
#create a list of the new column labels 
new_labels = ["Country","Code","Year","Population","Urban Population percentage of Total"]
#read in the file, specifying the header and names parameters:
df2 = pd.read_csv("world_pop.csv", header=0, names = new_labels)
df2.head()

## Delimiters, Headers & Extensions

In [ ]:
messy_file = "C:\\Users\\TOYIN OLAPE\\Documents\\Stutern\\Data Sets\\messy_stock_data.csv"


df_4 = pd.read_csv(messy_file)
df_4.head()

In [ ]:
df5 = pd.read_csv(messy_file, delimiter=" ", header=3, comment="#")
df5.head()

In [ ]:
df5.to_csv("file_clean.csv", index=False) #Save clean file as csv file

In [ ]:
df5.to_excel('file_clean.xlsx', index=False)  #Save clean file as excel file

# Plotting with Pandas

In [ ]:
temp_austin = pd.read_csv("C:\\Users\\TOYIN OLAPE\\Documents\\Stutern\\Data Sets\\weather_data_austin_2010.csv")
temp = temp_austin["Temperature"]

In [ ]:
temp.plot(color ="red")
# Add a title
plt.title("Temperature in Austin")

# Specify the x-axis label
plt.xlabel("Hours Since midnight August 1, 2010")

# Specify the y-axis label
plt.ylabel ("Temperature (degrees F)")

plt.show()

In [ ]:
temp_austin.plot()
plt.show()

In [ ]:
temp_austin.plot(subplots=True)
plt.show()

In [ ]:
column_list1 =["DewPoint"]
temp_austin[column_list1].plot()
plt.show()

In [ ]:
# Plot the Dew Point and Temperature data, but not the Pressure data
column_list2 = ['Temperature','DewPoint']
temp_austin[column_list2].plot()
plt.show()

## Visual Exploratory data analysis

In [ ]:
final_clean =pd.read_csv("C:\\Users\\TOYIN OLAPE\\Documents\\Stutern\\Data Sets\\file_clean.csv")
final_clean

In [ ]:
y_columns = ["May","Jun"]
y_columns

final_clean.plot(x="name",y=y_columns)
plt.title("Stcoks by Companies")
plt.ylabel("Months")
plt.show()

## Pandas Scatter plots

In [ ]:
automobiles =pd.read_csv("C:\\Users\\TOYIN OLAPE\\Documents\\Stutern\\Data Sets\\automobiles.csv")
automobiles.head()

In [ ]:
# Generate a scatter plot
automobiles.plot(kind="scatter", x ='hp', y='mpg',s = 2)

# Add the title
plt.title('Fuel efficiency vs Horse-power')

# Add the x-axis label
plt.xlabel('Horse-power')

# Add the y-axis label
plt.ylabel('Fuel efficiency (mpg)')

# Display the plot
plt.show()

## Pandas Box plots

In [ ]:
# Make a list of the column names to be plotted: cols
cols = ["weight","mpg"]

# Generate the box plots
automobiles[cols].plot.box(subplots=True)
#Alternatively: automobiles[cols].plot(kind ="box,subplots=True)

# Display the plot
plt.show()

## Pandas hist, pdf, cdf

In [ ]:
tips =pd.read_csv("C:\\Users\\TOYIN OLAPE\\Documents\\Stutern\\Data Sets\\tips.csv")
tips.head()

In [ ]:
# This formats the plots such that they appear on separate rows
fig,axes = plt.subplots(nrows=2, ncols=1)

# Plot the PDF
tips.fraction.plot(ax=axes[0], kind='hist', normed=True,bins=30, range=(0,.3))
plt.show()
# Plot the CDF
tips.fraction.plot(kind="hist", cumulative=True, normed=True, ax=axes[1], bins=30, range=(0,.3))
plt.show()

In [ ]:
bach =pd.read_csv("C:\\Users\\TOYIN OLAPE\\Documents\\Stutern\\Data Sets\\percent-bachelors-degrees-women-usa.csv")
bach.head()

In [ ]:
# Print the minimum value of the Engineering column
print(bach["Engineering"].min())

# Print the maximum value of the Engineering column
print(bach["Engineering"].max())

# Construct the mean percentage per year: mean
mean = bach.mean(axis= "columns" )

# Plot the average percentage per year
mean.plot(kind="box", x ="year")

# Display the plot
plt.show()

In [ ]:
titanic = pd.read_csv("C:\\Users\\TOYIN OLAPE\\Documents\\Stutern\\Data Sets\\titanic.csv")
titanic['fare'].describe()

In [ ]:
titanic['fare'].plot(kind="box")

## Quantiles

In [ ]:
titanic.head()

In [ ]:
# Print the number of countries reported in 2015
print(titanic['age'].count())

# Print the 5th and 95th percentiles
print(titanic.quantile([0.05,0.95]))

# Generate a box plot
vals = ['ticket','age','fare']
titanic[vals].plot(kind='box')
plt.show()

## Standard Deviation of Temperature

In [ ]:
# Print the mean of the January and March data
print(bach["Biology"].mean(), bach["English"].mean())

# Print the standard deviation of the January and March data
print(bach["Biology"].std(),bach["English"].std())